header {
  height: 37rem;
  overflow: hidden;
}
.img-main {
  background-repeat: no-repeat;
  height: 1rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ========CTA============ */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ========SOical Handlers============ */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials:after {
  content: "";
  width: 3px;
  height: 5rem;
  background: var(--color-primary);
}

.me {
  /* background: #4db5ff; */
  width: 22rem;
  height: 100%;
  position: absolute;
  left: calc(50% - 10rem);
  margin-top: 2rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.me img {
  border-radius: 12rem 12rem 0 0;
  position: relative;
  right: 1rem;
}

/* ========Scroll down============ */

.scroll_down {
  position: absoulte;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ========================media queries for MEDIUM Devices======================= */

@media screen and (max-width: 1024px) {
  header {
  }
}

/* ========================media queries for SMALL Devices======================= */

@media screen and (max-width: 600px) {
  header {
    height: 40rem;
  }

  .header__socials,
  .scroll_down {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .me {
    background: transparent;
    width: 17rem;
    height: fit-content;
    position: absolute;
    left: calc(55% - 8rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }
}

.headernone {
  margin-top: 2rem !important;
}
